* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
nav .logo {
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: 700;
}
nav .logo .fa-solid {
  margin: 4px;
}
nav ul {
  display: flex;
  align-items: center;
  padding: 10px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-weight: bolder;
  text-decoration: none;
  padding: 9px;
}
nav ul li a img {
  border-radius: 50%;
}

/* Section */
section {
  display: flex;
  justify-content: center;
}
section .content {
  width: 90%;
  background-color: rgb(190, 248, 229);
  padding: 9px;
  margin: 9px;
}
section header h2 {
  padding: 18px 0px;
}

section .client-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
section .client {
  display: flex;
  align-items: center;
}

section .client img {
  border-radius: 50%;
  margin: 4px;
}

/* top-blog */
.top-blog h3 {
  padding: 18px 0;
  font-weight: 700;
  font-size: 22px;
}
.top-blog .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 9px;
}
article {
  display: flex;
}
article img {
  width: 120px;
  height: 80px;
  margin: 0 9px;
}
article .description h4 {
  font-size: 22px;
}
article .description small {
  color: rgb(122, 122, 122);
}
article .description p {
  color: rgb(31, 23, 23);
}
